anthropic
beautifulsoup4
fastapi
langchain
langchain-community
langchain-core
langchain-text-splitters
numpy
pandas
pgvector
psycopg2-binary
pydantic
pydantic-ai
pydantic-settings
python-dotenv
rich
requests
sqlalchemy
tiktoken
openai
uvicorn[standard]